
.advantages__list {
    display: flex;
    
  }
  
  .advantages__title{
  margin-bottom: 10px;
  margin-top: 0;
  
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
  }
  
  .advantages__item{

  &:not(:last-child){
    margin-right: 30px;
    }
  }
  
  
  
  .advantages__text{
    font-family: var(--primary-font);
    color: var(--secandary-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  
  
  .advantages__container{
    @extend %align-list;
    justify-content: center;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
  }
  
  .advantages__icon{
    display: flex;
    justify-content: center;
  }