.what-we-do{
    padding-top: 0;
  }
  .what-we-do-list{
    display: flex;
  }
  

  .what-we-do-item{

   &:not(:last-child){
      margin-right: 30px;
    }
    

  }
 
  .what-we-do-tittle{
    margin-bottom: 50px;
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
  }
  
  .what-we-do-item {
    text-decoration: none;
    list-style-type: none;
  
    position: relative;
  }
  
  
  .wwd-image-text{
  font-family: var(--primary-font);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
  
  
  
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  
  position: absolute;
  bottom: 0;
  @extend align-list;
  justify-content: center;
  }